*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 48px;
    margin: 0;
    padding: 30px;
}

.header span a{
   text-decoration: none;
}

.header span a:hover{
    text-decoration: underline;
    cursor: pointer;
 }

.header span{
    margin: 0 5px;
    font-size: 13px;

}

.avatar-logo{
    background: #e3e3e3;
    padding: 10px 13px;
    border-radius: 50%;
    text-justify: auto;
    
}

.avatar-logo{
    font-size: .5rem;
}

.main-content{
    min-width: auto;
    margin: 20px auto;
    padding: 40px;
    text-align: center;
}

input[type ='text']{
    width: 560px;
    height: 39px;
    padding: 5px 8px 0 14px;
    border-radius: 50px;
    min-height: auto;
    min-width: auto;
    border: 1px solid #DFE1E5;
}

.content-btn{
    display: flex;
    width: 584px;
}

.content-btn button{
    padding: 10px 15px;
    border: none;
    margin: 0 8px;
    border-radius: 6px;
    background: #F8F9FA;
    font-size: .9rem;
}

.content-links{
    display: flex;
    font-size: .8rem;

}

.links-items{
    display: flex;
    list-style-type: none;
    margin: 0 10px;
}

.links-items li{
    margin: 0 10px;
}





